<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://cxf.apache.org/jaxws   
         http://cxf.apache.org/schemas/jaxws.xsd">
    
    <!-- 扫描  -->     
    <context:component-scan base-package="com.marphain.demo.springmvc.xxx"></context:component-scan>
    
    <import resource="classpath*:spring-mybatis.xml"/>
    
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.marphain.demo.service.facade.IHelloFacade" />
        <property name="address" value="http://localhost:8481/web/service/helloFacade" />   
    </bean>
    
    <bean id="clientHelloFacade" class="com.marphain.demo.service.facade.IHelloFacade" 
        factory-bean="clientFactory" factory-method="create">
    </bean>
    
</beans>